<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header"></h2>
        <b>Smart POS</b>
        <br>
        <small><b>Date:</b>
            <%= dateTime %>
        </small>
        </h2>
    </div>
</div>

<div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        <small>
            <b>Invoice ID: </b><%= invoiceId %>
            <br/>
            <b>Account:</b> 96834567 - BOC Colombo Branch
            <br />
            <b>Seller ID:</b><%= sellerId %>
        </small>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped" style="border-collapse: collapse;border: 1px solid black;">
            <thead>
                <tr>
                    <th style="border-collapse: collapse;border: 1px solid black;">ID</th>
                    <th style="border-collapse: collapse;border: 1px solid black;">Name</th>
                    <th style="border-collapse: collapse;border: 1px solid black;">Unit Price</th>
                    <th style="border-collapse: collapse;border: 1px solid black;">Quantity</th>
                    <th style="border-collapse: collapse;border: 1px solid black;">Price</th>
                </tr>
            </thead>
            <% transactions.map((transaction)=>{ %>
                <tbody>
                    <tr>
                        <td style="border-collapse: collapse;border: 1px solid black;">
                            <%=transaction["id"]["_id"]%>
                        </td>
                        <td style="border-collapse: collapse;border: 1px solid black;">
                            <%=transaction["id"]["itemName"]%>
                        </td>
                        <td style="border-collapse: collapse;border: 1px solid black;">
                            <%=transaction["id"]["unitPrice"]%>
                        </td>
                        <td style="border-collapse: collapse;border: 1px solid black;">
                            <%=transaction["quantity"]%>
                        </td>
                        <td style="border-collapse: collapse;border: 1px solid black;">
                            <%=transaction["id"]["unitPrice"]*transaction["quantity"]%>
                        </td>
                    </tr>
                </tbody>
                <% }) %>
        </table>
    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-6">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Total:</th>
                    <td>
                        <%= total %> LKR
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<% if(isOnline ==="true"){ %>
    <div class="row no-print">
        <div class="col-xs-12">
            <form
                action="https://sandbox.payhere.lk/pay/checkout?merchant_id=1218725&return_url=http://google.com/return&cancel_url=http://google.com/cancel&notify_url=http://google.com/notify&first_name=Theekshana&last_name=Madumal&email=xprnypnblck@gmail.com&phone=0722403591&address=No:1,Galle Road&city=Colombo&country=Sri Lanka&order_id=Invoice : 8&items=Inovice ID <%=invoiceId %>&currency=LKR&amount=<%=total %>"
                method="post">
                <input type="submit" name="Pay Online" value="Pay" />
            </form>
        </div>
    </div>
<% } %>